/* PasswordInput.css */
.password-input-container {
    position: relative;
  }
  
  .eye-icon-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
  }
  /* Add this to your stylesheet or style section */
.btn-gradient {
  background: linear-gradient(to right, #7084dc, #5c8fdc); /* Adjust the colors as needed */
  color: #fff;
}
